<div>
    <p><h1>Winter Collection</h1><p>
<div>
{% schema  %}
  {
    "name" : "collection",
    // "settings" : [
    //     {

    //     }
    // ],
    "presets" : [
        {
        "name": "collection",
        "category": "Custom Category"
        }
    ]
  }
{% endschema %} 