<div class="collection section-template--17151133352233__20286f98-896f-401b-a8b8-b7d5917e5277-padding">
  <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
    <h2 class="title h0">Winter Collection</h2>
  </div>

  <slider-component class="slider-mobile-gutter page-width page-width-desktop">

    <ul id="Slider-template--17151133352233__20286f98-896f-401b-a8b8-b7d5917e5277" class="grid product-grid contains-card contains-card--product contains-card--standard grid--4-col-desktop grid--2-col-tablet-down" role="list" aria-label="Slider">
        {% for item  in section.settings.products limit:4  %}    
        <li id="Slide-template--17151133352233__20286f98-896f-401b-a8b8-b7d5917e5277-1" class="grid__item">
            <div class="card-wrapper product-card-wrapper underline-links-hover">
                <div class="card card--standard card--media" style="--ratio-percent: 87.5%;">
                    <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 87.5%;">
                        
                        <div class="card__media">
                            <div class="media media--transparent media--hover-effect">
                                <a href="/products/{{item.title |  replace: ' ', '-'}}" class="motion-reduce">
                                    {{item.images | first | img_tag}}
                                </a>
                            </div>
                            <div class="card__content">
                                <div class="card__badge bottom left">
                                    <span class="badge badge--bottom-left color-accent-2">Sale</span>
                                </div>
                            </div>
                        </div>
                            
                    </div>
                    <div class="card__content">
                        <div class="card__information">
                            <h3 class="card__heading h5">
                                <a href="/products/{{item.title |  replace: ' ', '-'}}"  class="full-unstyled-link">
                                    {{item.title}}
                                </a>
                            </h3>
                            <div class="card-information">
                                <div class="price price--on-sale">
                                    <div class="price__container">
                                        <div class="price__sale">
                                            <span>
                                                <s class="price-item price-item--regular">Rs. 2,100.00</s>
                                            </span>
                                            <span class="price-item price-item--sale price-item--last">
                                                Rs. 1,600.00
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}         
  </slider-component>
</div>
{% schema  %}
  {
    "name": "collection",
    "settings":[
        {
            "id":"products",
            "type":"product_list",
            "label":"Select products",
            "limit":4
        } 
    ],
    "presets": [
      {
        "name": "collection",
        "category": "Custom Category"
      }
    ]
  }
{% endschema %} 
{% stylesheet %}

{% endstylesheet %} 
