<div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
    <h2 class="title h0">Winter Collection</h2>
<div>
{% schema  %}
  {
    "name" : "collection",
    // "settings" : [
    //     {

    //     }
    // ],
    "presets" : [
        {
        "name": "collection",
        "category": "Custom Category"
        }
    ]
  }
{% endschema %} 