<div class="collection section-template--17151133352233__20286f98-896f-401b-a8b8-b7d5917e5277-padding">
  <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width">
    <h2 class="title h0">Winter Collection</h2>
  </div>

  <slider-component class="slider-mobile-gutter page-width page-width-desktop"></slider-component>

</div>

{% schema  %}
  {
    "name": "collection",
    "presets": [
      {
        "name": "collection",
        "category": "Custom Category"
      }
    ]
  }
{% endschema %} 